# mise configuration file
min_version = "2025.11.3"

# Tools to install and their versions
[tools]
# node = "20"
# python = "3.12"
# go = "1.21"
# terraform = "1.6"

# Settings
[settings]
# experimental = true
# verbose = false
# jobs = 4

# Plugins configuration
# [plugins]
# python = "https://github.com/asdf-community/asdf-python.git"

# Environment variables
[env]
STACK_NAME = "local-o11y"
DNSMASQ_DOMAIN = "localtest.me"
LOCAL_REGISTRY_NAME = "{{ env.STACK_NAME }}-registry"
LOCAL_REGISTRY_PORT = "5010"
INCLUSTER_REGISTRY_PORT = "4678"
KUBERNETES_VERSION = "1.34.0"
MINIO_HELM_VERSION = "7.1.1"

# Task definitions
[tasks."check:tool"]
  description = "Checks if a tool is installed and exits with an error if not"
  hide = true
  quiet = true
  usage = '''
  arg "<tool>" help="The tool to check for installation"
  '''
  run = '''
  if ! command -v "${usage_tool:?}" >/dev/null 2>&1; then
    echo "    Error: ${usage_tool:?} is not installed; install it and rerun setup." >&2
    exit 1
  fi
  '''

[tasks."check:prerequisites"]
  description = "Checks for all prerequisite tools"
  run = '''
  tools=("envsubst" "docker" "kind" "kubectl" "helm")
  for tool in "${tools[@]}"; do
    mise run check:tool "$tool"
  done
  '''

[tasks."check:kubecontext"]
  description = "Checks if your current kubecontext is set to a local kind cluster and fails if not"
  hide = true
  quiet = true
  run = '''
  current_context=$(kubectl config current-context)
  if [[ ! "$current_context" =~ ^kind- ]]; then
    echo "    Error: Current kubecontext '$current_context' is not a kind cluster (must start with 'kind-')" >&2
    exit 1
  fi
  '''

[tasks.teardown]
  description = "Tears down the entire local-first development environment"
  depends = ["check:kubecontext"]
  run = [
    { tasks = ["teardown:k8s-cluster", "teardown:local-registry"] },
  ]

[tasks."teardown:k8s-cluster"]
  description = "Tears down the local kind kubernetes cluster"
  depends = ["check:kubecontext"]
  run = '''
  kind delete clusters ${STACK_NAME} || true
  '''

[tasks."teardown:local-registry"]
  description = "Tears down the local oci artifact registry"
  run = '''
  docker rm -f ${LOCAL_REGISTRY_NAME} &>/dev/null || true
  '''

[tasks.setup]
  description = "Sets up the entire local-first development environment"
  depends = ["check:prerequisites", "teardown"]
  run = [
    { task = "setup:k8s-cluster" },
    { task = "setup:local-registry" },
    { task = "setup:cert-manager" },
    { task = "setup:envoy-proxy-gateway" },
    { tasks = ["setup:metrics-server", "setup:minio-operator"] },
    { tasks = ["setup:datalake"] },
  ]
