# mise configuration file
min_version = "2025.11.3"

# Tools to install and their versions
[tools]
# node = "20"
# python = "3.12"
# go = "1.21"
# terraform = "1.6"

# Settings
[settings]
# experimental = true
# verbose = false
# jobs = 4

# Plugins configuration
# [plugins]
# python = "https://github.com/asdf-community/asdf-python.git"

# Environment variables
[env]
STACK_NAME = "streamhouse"
DNSMASQ_DOMAIN = "localtest.me"
LOCAL_REGISTRY_NAME = "{{ env.STACK_NAME }}-registry"
LOCAL_REGISTRY_PORT = "5010"
INCLUSTER_REGISTRY_PORT = "4678"
KUBERNETES_VERSION = "1.35.0"
ENVOY_PROXY_GATEWAY_VERSION = "0.0.0-latest"
MINIO_HELM_VERSION = "7.1.1"
POSTGRES_IMAGE = "ghcr.io/cloudnative-pg/postgresql:18.1-202601190807-standard-bullseye@sha256:866f286d188a50d3b363c3484312e675b52871be30455f2e4689d279b62a1c45"
PG_CLUSTER_NAME = "{{ env.STACK_NAME }}-relational-db"
STRIMZI_VERSION = "0.50.0"
KAFKA_VERSION = "4.1.1"
KAFKA_MINOR_VERSION = "4.1"
OPENTELEMETRY_OPERATOR_VERSION = "0.144.0"
KEYCLOAK_VERSION = "26.5.2"

# Task definitions
[tasks."check:tool"]
  description = "Checks if a tool is installed and exits with an error if not"
  hide = true
  quiet = true
  usage = '''
  arg "<tool>" help="The tool to check for installation"
  '''
  run = '''
  if ! command -v "${usage_tool:?}" >/dev/null 2>&1; then
    echo "    Error: ${usage_tool:?} is not installed; install it and rerun setup." >&2
    exit 1
  fi
  '''

[tasks."check:prerequisites"]
  description = "Checks for all prerequisite tools"
  run = '''
  tools=("openssl" "keytool" "envsubst" "docker" "kind" "kubectl" "helm" "gh")
  for tool in "${tools[@]}"; do
    mise run check:tool "$tool"
  done
  '''

[tasks."check:kubecontext"]
  description = "Checks if your current kubecontext is set to a local kind cluster and fails if not"
  hide = true
  quiet = true
  run = '''
  current_context=$(kubectl config current-context)
  if [[ ! "$current_context" =~ ^kind- ]]; then
    echo "    Error: Current kubecontext '$current_context' is not a kind cluster (must start with 'kind-')" >&2
    exit 1
  fi
  '''

[tasks.teardown]
  description = "Tears down the entire local-first development environment"
  depends = ["check:kubecontext"]
  run = [
    { tasks = ["teardown:k8s-cluster", "teardown:local-registry"] },
  ]

[tasks."teardown:k8s-cluster"]
  description = "Tears down the local kind kubernetes cluster"
  depends = ["check:kubecontext"]
  run = '''
  kind delete clusters ${STACK_NAME} || true
  '''

[tasks."teardown:local-registry"]
  description = "Tears down the local oci artifact registry"
  run = '''
  docker rm -f ${LOCAL_REGISTRY_NAME} &>/dev/null || true
  '''

[tasks."teardown:self-signed-certificates"]
  description = "Tears down the local self-signed certificates"
  run = '''
  rm -rf .ssl || true
  sudo security delete-certificate -c "${STACK_NAME}-kube-ca"
  '''

[tasks.setup]
  description = "Sets up the entire local-first development environment"
  depends = ["check:prerequisites"]
  run = [
    { task = "setup:self-signed-certificates" },
    { task = "setup:k8s-cluster" },
    { tasks = ["setup:local-registry", "setup:cilium"] },
    { tasks = ["setup:cert-manager"] },
    { tasks = ["setup:envoy-gateway-proxy", "setup:metrics-server", "setup:minio-operator", "setup:postgres-control-plane", "setup:kafka-control-plane", "setup:flink-control-plane"] },
    { tasks = ["setup:streamhouse-object-store"] },
    { tasks = ["setup:kafka-cluster", "setup:kafka-topics"] },
    { tasks = ["setup:streamhouse-relational-db", "setup:kafka-schema-registry", "setup:kafka-ui"] },
    { tasks = ["setup:observability-platform", "setup:keycloak", "setup:lakekeeper"] },
  ]

# manually run 'mise setup:druid' when needed -- not part of the default setup flow due to its resource intensity
